<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bands.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE43809F1BE8C5140036F83F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4380BB1BE8C5150036F83F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4380C61BE8C5150036F83F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
